<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>paccorreos.inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviados</servlet-name>
        <servlet-class>paccorreos.enviados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviamail</servlet-name>
        <servlet-class>paccorreos.enviamail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administra</servlet-name>
        <servlet-class>paccorreos.administra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifica</servlet-name>
        <servlet-class>paccorreos.modifica</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviados</servlet-name>
        <url-pattern>/enviados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviamail</servlet-name>
        <url-pattern>/enviamail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administra</servlet-name>
        <url-pattern>/administra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifica</servlet-name>
        <url-pattern>/modifica</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
